	* {
		box-sizing: border-box;
		margin:0px auto;
	}
	.header{
		width: 1550px;
		height:850px;
		background: url("../image/Fitness.png");
		position: relative;
	}
	.text-fitness{
		color: #fff;
		font-size: 30px;
		padding: 40px;
		float: left;

	}
	.top-menu{
		float:right;
		list-style-type: none;
		padding: 40px;

	}
	.top-menu .li{
		float: left;
	}
	li {
		text-align: center;
		float: left;
		margin: 20px;

	}
	li a{
		text-decoration: none;
		color: #fff;
	}
	.clear {
		clear: both;
	}
	.Fitness-in-a-can{
		position: absolute;
		top: 750px;
		left: 100px;
		color: #fff;
	}
	#conten1{
		height: 1250px;
		width: 1550px;
		background-color: #a2ca28;

	}
	#conten1 .box {
		width: 280px;
		height: 400px;
		float: left;

	}
	#conten1 .box p{
		color: #fff;
	}
	#conten1 .box a{
		color:#fff;
	}
	#conten1 .box h1{color:#fff;}
	.glyphicon-cloud:before{
		font-size: 50px;
	}
	#conten1 .text{	
		padding-top: 50px;
		padding-left: 200px;
	}
	#conten1 .left-text{
		width: 400px;
		height: 400px;
		background: #ffffff;
		float: left;
	}
	#conten1 .right-image{
		width: 780px;
		height: 400px;
		float: left;
		overflow: hidden;
	}
	#conten1 .text-image1{
		padding-left: 200px;
	}
	#conten1 .left-text-text{
		text-align: center;
		padding: 30px;
		padding-top: 60px;}
		#conten2{
			width: 1550px;
			height: 1200px;
			background-color: #fd634e;
		}
		#conten2 .text-image{
			padding-left: 200px;
		}
		#conten2 .left-image{
			width: 400px;
			height: 300px;
			overflow: hidden;
			float: left;
		}
		#conten2 .right-image{
			overflow: hidden;
			float: left;
			width: 780px;
			height: 330px;
		}
		#conten2 .right-image{
			background-color: #a2ca28;
			overflow: hidden;
			float: left;
			width: 780px;
			height: 300px;
		}
		#conten2 .left-text{
			width: 400px;
			height: 300px;
			background: #ffffff;
			float: left;
		}
		
		#conten2 .text-image .left-text-text h1{
			color:#a2ca28;
			text-transform: uppercase;
		}
		#conten2 .left-text-text{
			text-align: center;
			padding-top: 30px;
		}
		#conten2 .right-image h1{
			padding-top: 43px;
			padding-left: 69px;
			color: #ffffff;
			font-size: 40px;
		}
		#conten2 .right-image p{
			padding-left: 69px;
			color: #ffffff;
			font-size:13px;
		}
		#conten3 {
			width: 1550px;
			height: 725px;
			overflow: hidden;
			position: relative;
		}
		#conten3 div>h1{
			color:#ffffff;
			position: absolute;
			top:250px;
			left: 450px;

		}
		#conten3 div>p{
			color:#ffffff;
			position: absolute;
			left: 315px;
			top: 315px;
			
		}
		.footer{
			width: 1550px;
			height: 850px;
			background: #fd634e;
			position: relative;

		}
		.footer .image_one {
			position: absolute;	
			top: -126px;
		}
		.footer .layer_six{
			position: absolute;
			top: 47px;
		}
		.footer  .conten_footer{
			position: relative;
			z-index: 10;
			top: 80px;
			
		}
		.footer .conten_footer .resources{
			color: #ffffff;
			float: right;
			width: 400px;
			height: 160px;
			display: inline;
		}
		.footer .conten_footer .about_us{
			color: #ffffff;
			float: right;
			width: 400px;
			height: 160px;
			display: inline;
		}
		
		.footer .conten_footer .stay_in_touch{
			color: #ffffff;
			float: right;
			width: 400px;
			height: 160px;
			display: inline;
		}
		.footer .footer_forms{
			position: absolute;
			z-index: 10;
			top: 300px;
   			left: 750px;
		}
		.footer .footer_forms input{
			width: 250px;
			height: 40px;
		}
		.footer .footer_forms button{
			background: #a2ca28;
			height: 40px;
			border: none;
			border-radius: 5px;
			color: #ffffff;
		}
		.glyphicon{
			padding: 10px;
			font-size: 30px;
		}