<div class="footer">
	<style>.footer .conten_footer .resources{
			color: red;
			float: left;
			width: 200px;
			height: 200px;
		}
		.footer .conten_footer .about_us{
			color: red;
			float: left;
		width: 200px;
			height: 200px;
		}
		
		.footer .conten_footer .stay_in_touch{
			color: red;
			float: left;
			width: 200px;
			height: 200px;
		}</style>
		<form>
  <h1>Login</h1>
  <input placeholder="Username" type="text" required="">
  <input placeholder="Password" type="password" required="">
  <button>Submit</button>
</form>
	
	</div>
